@import "cards.css";

.cards .card {
    float: left;
}

.card {
    position: relative;
}

.topLeft {
    position: absolute;
    top: 0;
    left: 0;
    
}

.bottomRight {
    position: absolute;
    right: 0;
    bottom: 0;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}